body {
  font-family: 'Copse', serif;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

/***** Text *****/

.errors {
  color: #ff6666;
}

.title {
  margin: auto;
  overflow: hidden;
  width: 140px;
}

/***** Form *****/

form div:last-child {
  margin-top: 20px;
}

form input[type="radio"] {
  display: inline-block;
  height: 125px;
  width: inherit;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
}

label div {
  font-size: 1.3rem;
  overflow: hidden;
}

label + div {
  margin-top: 40px;
}

label div.title p {
  color: #ff6666;
}

label img {
  height: 100px;
  margin: 15px;
}

label input {
  background-color: transparent;
  border-width: 0 0 2px 0;
  border-bottom: 2px solid #000;
  display: block;
  margin: auto;
  padding: 5px 5px 0 5px;
  width: 250px;
}

input:focus, button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  transition: text-indent 250ms;
}

input[type="text"] {
  font-family: 'Copse', serif;
  font-size: 1.8rem;
}

.name-input {
  width: 49.5%;
}

.name-input:last-of-type {
  display: block;
  margin: auto;
}

button {
  background: #FFF;
  border: 2px solid #555;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: 600;
  padding: 10px;
  width: 120px;
}

button:hover {
  background: #000;
  color: #FFF;
}

/***** Images *****/

#successImg {
  display: block;
  height: 300px;
  margin: 20px auto;
}

/***** Animation *****/

/* Hides input labels outside of div overflow */
.hide-labels {
  transform: translateX(140px);
  transition: transform 250ms, color 100ms;
}

/* Slides labels into view */
.slide-in-labels {
  transform: translateX(0);
}

/* Slides placeholder text to the left with negative text-indent property */
.slide-placeholder-out::-webkit-input-placeholder {
  text-indent: -100%;
}

/***** Footer *****/

footer {
  position: relative;
  bottom: -50px;
  margin: auto;
}

footer a, footer p {
  color: #CCC;
  font-size: .3rem;
}
